
*{  
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior: smooth;
    font-family: "Josefin Sans", sans-serif;

}
:root{
    --text_color_s_header:#ff0000;
    --backgruond_color_subscribe_header:#ff0000;
    --backgruond_color_header:#171a1c;
    --text_color_list_header:#ffffff;
    --text_color_list_hover_header:#ff0000;
    --text_color_logo_header:#ffffff;
    --text_color_subscribe_header:#ffffff;

}
/* Header */
header{
    width: 100%;
    min-height: 10vh;
    background-color: var(--backgruond_color_header);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 30px ;
    position: fixed;
    z-index: 999;

}
.logo h1{
    color:var(--text_color_logo_header);
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 800;
    letter-spacing: 2px;


}
.logo .span1{
    color: var(--text_color_s_header);
}

.list ol li{
    margin-right:25px ;
    display: inline;
    
}
.list ol li a{
    color: var(--text_color_list_header);
    text-decoration: none;
    transition: 0.5s;
    
}
.list ol li a:hover{
    color: var(--text_color_list_hover_header);
    text-decoration: none;
    
}
.subscribe a{
    color: var(--text_color_subscribe_header);
    background-color: var(--backgruond_color_subscribe_header);
    text-decoration: none;
    padding: 15px;
    border-radius: 30px;
    border-style: solid;
    border-color: transparent;
    transition: 0.5s;

}
.subscribe a:hover{
    background-color: transparent;
    border-color: #ff0000;
    border-style: solid;

}
header img{
    position: absolute;
    right: 15px;
    top: 15px;
    display: none;
    background-color: #ffffff;
    
}
.list ol span{
   color: #ffffff;
   font-size: 2em;
   cursor: default;
   display: none;
}
.list ol span:hover{
    color: #ff0000;
    transform: scale(1.3);
    
 }
/* section */
.section{
    width: 100%;
    min-height:100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--backgruond_color_header);
    padding-top:150px ;
    
}
.text h2{
    margin-bottom: 3px;
    line-height: 2em;
    
}
.text .span0{
    color: var(--text_color_list_header);
    font-size: 1em;

   
}
.text .span1{
    font-size: 2em;
    color:#ffffff;
    margin-left: -2px;
    
   
}
.text .span2{
    color: var(--text_color_s_header);
   
}
.text h3{
    color: #ffffff;
    font-size: 1em;
    font-weight: 900;
   
}
.text .button_main{
    display: inline-block;
    margin-top: 10px;
    padding: 15px;
    background-color: #ff0000;
    border: 2px solid #ff0000;
    border-radius: 40px;
    text-decoration: none;
    color: #ffffff;
    transition: 0.5s;
    
   
}
.text .button_main:hover{
    background-color: transparent;
    
   
}
.icon_main{
   
    margin-top:15px ;

  
}
.icon_main  img:hover{
   
   transform: scale(1.2);

  
}
.icon_main a{
   
    margin-right:15px ;

  
}
.section .image img{
    transition: 0.6s;
    width: 500px;
    height: 500px;
}
.section .image img:hover{
   transform: scale(1.1,1.1);
}
/* section1 */
.section1{
    background-color: #333030;
    width: 100%;
    min-height: 60vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
   
}
.section1 .info {
    width: 30%;
    margin-bottom: 20px;

}
.section1 .info h1{
    font-size: 2.6em;
    padding-top: 20%;
    color: #ffffff;

}
.section1 .info h1 span{
    color: #ff0000;

}
.info h4 {

    padding-top: 1.5%;
    color: #ffffff;
    text-align:left;
    
    
}
.info h4 .span1{
    color: #ffffff;
    
    
    
}
.info h4 .span2{
    color: #ff0000;  
    
}
.section1 .image img{
    width: 500px;
    height: 500px;
}

.info p{
    letter-spacing: 1px;
    padding-top: 1.5%;
    color: #ffffff;
    text-align:left;
    line-height: 25px;
    
    
}
/* section2 */
.section2{
    width:100%;
    min-height: 70vh;
    background-color: #171a1c;
}
.section2 h1{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    font-size: 2.6em;
    color: #ffffff;
    
}
.section2 h1 span{
    
    color: #ff0000;
    
}
.continar{
    display: flex;
    justify-content: center;
    justify-content:space-around ;
    padding-top: 10px;
    flex-wrap: wrap;
}
.continar .card1{
    border: 2px solid #ff0000;
    padding: 0px 20px 20px 20px;
    margin: 20px;
    transition: 0.6s;
    
    

    
   
}
.continar .card1 h3 {
   text-align: center;
   padding-bottom: 10px;
   color: #ffffff;
    
}

.continar .card1:hover{
    border: 2px solid #ff0000;
    transform: scale(1.2);
    

    
   
}

/* section3 */
.section3{
    background-color: #333030;
    width: 100%;
    min-height: 60vh;
}
.section3 h1{
    
    display: flex;
    justify-content: flex-start;
    padding-top: 40px;
    padding-left: 20px;
    font-size: 2.6em;
    color: #ffffff;
    padding-left:20%;
    
}
.section3 h1 span{
    
    color: #ff0000;
    
}
.section3 .continar{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-around;

}
.section3 .icon{
    width: 30%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 20px;  
}
.section3 .icon img{
    margin: 20px;
    border: 2px solid #ffffff;
    padding: 15px;
    border-radius: 60%;
    background-color: #ffffff;
    transition: 2s;
    animation-name:x;
    animation-duration: 3s;
    animation-iteration-count: infinite;
   
}
.section3 .image img{
    width: 500px;
    height: 500px;
}
@keyframes x{
    0%{  transform: scale(1.2,1.2);border: 5px solid #ff0000; }
    25%{ transform: scale(1.2,1.2);border: 5px solid #ff0000; }
    75%{ transform: scale(1.3,1.3);border: 5px solid #ff0000; }
    100%{ transform: scale(1.3,1.3);border: 5px solid #ff0000; }
    
}
/* footer */
footer{
    background-color:#171a1c;
    width: 100%;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    
}

footer .icon_footer a{
    margin-right:10px;
    
    
}
footer .icon_footer a img:hover{

    transform: scale(1.2,1.2);
    
}

footer p{
    color: #ffffff;
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 1px; 
    padding-top: 20px;
}
footer h1{
    font-size: 2.6em;
    margin-bottom: 40px;
    color: #ffffff;
}
footer h1 span{
    margin-bottom: 40px;
    color: #ff0000;
}
/* media */
@media screen and (max-width:900px) {
    .section .image img{
        width: 300px;
        height: 300px;
    }
    .section .section_Part1 {
        padding-left: 15px;
    }
    .section1 .image img{
        width: 300px;
        height: 300px;
    }
    .section3 .image img{
        width: 300px;
        height: 300px;
    }
    .section1 .info h1{
        font-size: 1em;
    
    }
    footer p{
        color: #ffffff;
        font-size: 0.8em;
    }
    .subscribe a{
        display: none;
    
    }
    .section1 .info {
        width: 250px;
    
    }
    /* header */
    header img{
        display: block;
    }
    .list ol li{
        margin-bottom:30px;
    }
    .list ol{
        background-color: #333030;
        padding: 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
   
    }
    .list{
        position: absolute;
        right: 0px;
        top: 60px;
        transform: translatex(100%);
        
    }
    .open{
        transform: translateY(0%);
    }
    .list ol span{
        display: block;
    }
    /* section */
    .section{
        padding-top:150px ;
        
    }
    


}




